<ion-header>
  <ion-toolbar>
    <ion-title>Pagina de ejemplo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <form #f="ngForm">
      <!-- Nombre -->
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
            <ion-input #nombre="ngModel" ngModel type="text" name="nombre" id="nombre" required="true">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- URL -->
      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">URL <ion-text color="danger">*</ion-text></ion-label>
            <ion-input #url="ngModel" ngModel type="text" name="url" id="url" required="true">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="guardar(f.value)">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
