<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" #nombre ngModel name="nombre" id="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input #descripcion ngModel name="descripcion" id="descripcion" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number" #precio ngModel name="precio" id="precio" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Uri <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input #uri ngModel name="uri" id="uri" required></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-button expand="block" (click)="store(f.value)" [disabled]="!f.valid">Agregar</ion-button>
</ion-content>
