<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let x of productos">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            {{x.nombre}}
          </ion-col>
          <ion-col size="2">
            <ion-button expand="block" (click)="reseteaPaypal(); eliminar(x.id)">-</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-text>
              <p class="ion-text-center">
                {{globals.getCantidadCarrito(x.id)}}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-button expand="block" (click)="reseteaPaypal(); globals.agregarACarrito(x.id)">+</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-button *ngIf="mostrar_confirmacion" expand="block" (click)="inicializaPaypal()">Confirmar Pedido</ion-button>
  <ion-item>
    <div id="paypal-button-container"></div>
  </ion-item>
</ion-content>
