<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{subcategoria?.nombre}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/checkout">
        <ion-icon slot="end" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let x of productos">
    <img src="{{x.uri}}" />
    <ion-card-header>
      <ion-card-subtitle>{{x.precio | currency}}</ion-card-subtitle>
      <ion-card-title>{{x.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{x.descripcion}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!globals.existeEnCarrito(x.id)">
          <ion-col>
            <ion-button expand="block" (click)="globals.agregarACarrito(x.id)">Agregar al Carrito</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="globals.existeEnCarrito(x.id)">
          <ion-col size="3">
            <ion-button expand="block" (click)="globals.eliminarDeCarrito(x.id)">-</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              <h1 class="ion-text-center">
                {{globals.getCantidadCarrito(x.id)}}
              </h1>
            </ion-text>
          </ion-col>
          <ion-col size="3">
            <ion-button expand="block" (click)="globals.agregarACarrito(x.id)">+</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
