<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{producto.uri}}" />

  <form #f="ngForm">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" [(ngModel)]="producto.nombre" name="nombre" id="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="producto.descripcion" name="descripcion" id="descripcion" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number" [(ngModel)]="producto.precio" name="precio" id="precio" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Uri <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="producto.uri" name="uri" id="uri" required></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button expand="block" (click)="update(f.value)" [disabled]="!f.valid">Editar</ion-button>
</ion-content>
