<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/checkout">
        <ion-icon slot="end" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment *ngIf="categorias" mode="md" (ionChange)="getSubcategorias($event.detail.value)" [value]="categoria_id" scrollable>
    <ion-segment-button *ngFor="let x of categorias" value="{{x.id}}">
      <ion-label>{{x.nombre}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let x of subcategorias" routerLink="{{x.id}}/detalle-subcategoria">
    <img src="{{x.uri}}"/>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>{{x.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
