<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="categorias"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input #nombre ngModel name="nombre" id="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Uri <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input #uri ngModel name="uri" id="uri" required></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-button expand="block" (click)="store(f.value)" [disabled]="!f.valid">Agregar</ion-button>
</ion-content>
