<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="agregar()">
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let x of productos">
    <img src="{{x.url}}" />
    <ion-card-header>
      <ion-card-title>{{x.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este es un dummy text
      <img src="{{x.uri}}" />
      <ion-item>
        <ion-button color="primary" (click)="editar(x.id)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="eliminar(x.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item >
        <p *ngIf="x.deleted_at!=null">Eliminado</p>
        <p *ngIf="x.deleted_at==null">EN LINEA</p>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
