<ion-header>
  <ion-toolbar>
    <ion-title>editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <img src="{{objeto.uri}}" />
    </ion-card-header>
    <ion-card-content>
      <form #f=ngForm>
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input #nombre [(ngModel)]="objeto.nombre" name="nombre" id="nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Uri <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input #uri [(ngModel)]="objeto.uri" name="uri" id="uri" required></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-button expand="block" (click)="update(f.value)" [disabled]="!f.valid">Editar</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
